@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

label {
  font-weight: bold;
  padding-right: 1em;
  display: block;
  line-height: 1.1em;
  font-size: 0.8em;
  text-transform: uppercase;
}
input {
  width: 100%;
}
input,textarea {
  margin-bottom: 0.2em;
  font-family: inherit;
}
div.input-text {
  margin-bottom: 0.5em;
}
div.input-submit {
  text-align: center;
}
div.preview-container {
  margin-top: 2em;
}
div.preview .header {
  border-bottom: 1px solid grey;
  padding: 10px 0;
}
div.preview {
  border: 1px solid grey;
  border-radius: 6px;
  padding: 0 10px 10px 10px
}
form {
  display: block;
  margin: 0 auto;
}
textarea {
  width: 400px;
  height: 200px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
